<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>우리의 로그인 페이지</h3>
	<h3>여기에 비밀번호를 공개하지 않을겁니다.</h3>
	
	<form action="loginForm" method="post">
		아이디 : <input type="text" name="username" style="margin-left: 15px;"><br/>
		비밀번호 : <input type="password" name="password"><br/>
		
		<input type="checkbox" name="remember-me"> 나를기억해
		
		<input type="submit" value="로그인하기">
		
	</form>
	
	[[${msg}]]

</body>
	

</html>