<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">   
    <div class="wrap">
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
                <div class="midiaq">
                    <div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-판매자는 등록한 본인에 글에 대해 수정, 삭제할 수 있다.<br>
							-해당 글에 해당하는 정보를 미리보여주도록 처리한다. <br>
                            <br>
                            
						</div>
					</div>
                    <div class="page_title">게시글 연습 > <span class="page_subtitle">글수정/삭제</span></div>
                    <form name="actionForm" action="modifyForm" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>게시글관리</h2>
									<input type="hidden" name="topic_num" th:value="${vo.topic_num}"/>
                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td>
                                                        <span>[[${vo.topic_regdate}]]</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>아이디</th>
                                                    <td><input type="text" class="inputw150" name="topic_id" th:value="${vo.topic_id}" readonly></td>
                                                </tr>

                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="topic_title" th:value="${vo.topic_title}" required></td>
                                                </tr>


                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div><textarea  class="inputw99p" name="topic_content" style="height: 200px;">[[${vo.topic_content}]]</textarea>
                                                        </div>
                                                    </td>
                                                </tr>


                                            </table>
                                            <div class="btn_area">
                                                <!-- 
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                 -->
                                                <a href="#" class="save">수정</a>
                                                <a th:href="@{topicListMe}" class="delete">목록</a>
                                                <a href="#" class="delete del">삭제</a> 
                                                
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
</th:block>

<script>
	var save = document.querySelector(".save");
	save.onclick=()=>{
		console.log('여기까지는와아ㅠ')
		event.preventDefault();
		document.actionForm.action="modifyForm";
		document.actionForm.submit();
	}
	var del = document.querySelector(".del");
	del.onclick=()=>{
		event.preventDefault();
		document.actionForm.action="topicDelete";
		document.actionForm.submit();
	}
</script>